<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update a Student</title>
</head>
<body>
    <form action="/update" method="POST">
        {{form.hidden_tag()}}
        {{form.new_id.label}}: {{form.new_id}}<BR>
        <ul>
			 {% for error in form.new_id.errors %}
			 	<li style = "color:red;"> {{ error }}</li>
			 {% endfor %}
		 </ul>
        {{form.new_name.label}}: {{form.new_name}}<BR>
         <ul>
			 {% for error in form.new_name.errors %}
			 	<li style = "color:red;"> {{ error }}</li>
			 {% endfor %}
		 </ul>
        {{form.new_course.label}}: {{form.new_course}}<BR>
         <ul>
			 {% for error in form.new_course.errors %}
			 	<li style = "color:red;"> {{ error }}</li>
			 {% endfor %}
		 </ul>
        {{form.submit}}
     </form>
</body>
</html>